<h3>Student Management System</h3>
<p><a href="/adduser" class="add-btn">Add User</a></p>
<table>
    <thead>
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Age</td>
            <td>City</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        {{#each rows}}
        <tr>    
            <td>{{this.ID}}</td>
            <td>{{this.NAME}}</td>
            <td>{{this.AGE}}</td>
            <td>{{this.CITY}}</td>
            
            <td><a class="edit" href="/edituser/{{this.ID}}">Edit</a></td>
            <td><a onclick="return confirm('Are you sure?')" class="delete" href="/deleteuser/{{this.ID}}">Delete</a></td>
        </tr>
        {{/each}}


    </tbody>
</table>
   <div class="pagination">
    {{#if (gt currentPage 1)}}
        <a href="?page={{sub currentPage 1}}&limit={{limit}}" class="page-link">Previous</a>
    {{/if}}

    {{#if (gt currentPage 4)}}
        <a href="?page=1&limit={{limit}}" class="page-link">1</a>
        <span class="dots">...</span>
    {{/if}}

    {{#range totalPages}}
        {{#if (or (eq this 1) (eq this totalPages) (and (gte this (sub currentPage 2)) (lte this (add currentPage 2))))}}
            <a href="?page={{this}}&limit={{../limit}}" class="page-link {{#if (eq ../currentPage this)}}active{{/if}}">{{this}}</a>
        {{/if}}
    {{/range}}

    {{#if (lt currentPage (sub totalPages 3))}}
        <span class="dots">...</span>
        <a href="?page={{totalPages}}&limit={{limit}}" class="page-link">{{totalPages}}</a>
    {{/if}}

    {{#if (lt currentPage totalPages)}}
        <a href="?page={{add currentPage 1}}&limit={{limit}}" class="page-link">Next</a>
    {{/if}}
</div>


